body{
  margin:0;
  font-family:sans-serif;
  background:#0f172a;
  color:white;
}


.wrapper{
  display:flex;
  gap:30px;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.form-card,.preview-card{
  background:#1e293b;
  padding:25px;
  border-radius:15px;
  width:320px;}

/* FLOAT LABEL FIX */
.input-group{
  position:relative;
}

.input-group input{
  width:100%;
  padding:12px;
  margin:12px 0;
  border-radius:8px;
  border:none;
  background:#334155;
  color:white;
}

.input-group label{
  position:absolute;
  top:50%;
  left:12px;
  transform:translateY(-50%);
  transition:0.2s;
  background:#1e293b;
  padding:0 5px;
}

/* FIXED */
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label{
  top:-8px;
  font-size:12px;
  color:#22c55e;
}


#experience div{
  display:flex;
  gap:8px;
  margin-bottom:8px;
}

#experience input{
  flex:1;
}

.del-btn{
  background:#ef4444;
}

/* button */
button{
  padding:10px;
  border:none;
  border-radius:8px;
  background:#22c55e;
  cursor:pointer;
}

/* progress */
.progress{
  height:5px;
  background:#22c55e;
  width:0%;
}


.step{display:none;}
.step.active{display:block;}

/* sidebar */
.sidebar{
  position:fixed;
  right:-350px;
  top:0;
  width:320px;
  height:100%;
  background:#020617;
  padding:20px;
  transition:0.4s;
}
.sidebar.active{right:0}

.data-card{
  background:#111827;
  padding:10px;
  margin-bottom:10px;
  border-radius:10px;
}

/* toast */
#toast{
  position:fixed;
  top:20px;
  right:20px;
  background:#22c55e;
  padding:10px;
  display:none;}